<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Main Page</title>
</head>
<body>

    <div class='box'>
        <a href="http://127.0.0.1:8000/" style="
        text-align: center;">
        <button href="http://127.0.0.1:8000/" class="btn btn-primary" type="button" style="
        color: white;
        text-decoration: blink;
        border-color: darkblue;
        border-width: thick;
        text-shadow: 5px 5px black;
        font-size: xxx-large;
        height: 70px;
        width: 300px;
        cursor: pointer;
        background-color: transparent">ENTRANCE</button></a>
    </div>

    <div class='image'>
        <img src="space.jpg" alt style="height: 100%;width: 100%;">
    </div>
 
</body>
</html>